.account {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  color: var(--main-color);
  font-size: 2rem;
  margin-bottom: 30px;
}

.account-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.account-actions button {
  background-color: #e6f2e9;
  border: none;
  padding: 18px;
  border-radius: 15px;
  font-size: 1.1rem;
  color: #1a1a1a;
  cursor: pointer;
  transition: 0.2s;
  padding: 30px 20px;
}

.account-actions button:hover {
  background-color: #d9ece1;
}

.logout-div {
  display: flex;
  justify-content: center;
}

.logout {
  background: none;
  border: none;
  text-decoration: underline;
  color: #000;
  font-size: 1rem;
  margin-top: 40px;
  margin-top: 100px;
  cursor: pointer;
}

.logout:hover {
  opacity: 0.7;
}
