.cars {
  padding: 20px;
}
.cars{
  color: var(--main-color);
}
.cars h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.cars-list {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr;
}

.car-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #e6f2e6;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  gap: 20px;
  transition: transform 0.2s ease;
}

.car-card:hover {
  transform: translateY(-3px);
}

.car-card img {
  width: 140px;
  height: 110px;
  object-fit: cover;
  border-radius: 15px;
}

.car-card h3 {
  font-size: 22px;
  margin: 0 0 10px;
  color: black;
}

.car-card p {
  margin: 2px 0;
  font-size: 16px;
  color: black;
}

.add-car-btn {
  text-align: center;
  margin-top: 30px;
}

.add-car-btn button {
  background: var(--main-color);
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.add-car-btn button:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .cars-list {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-items: center;
  }

  .car-card {
    width: 320px;
    flex-direction: column;
    text-align: center;
  }

  .car-card img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
  }
}
