<nav [class.menu-open]="menuOpen()">
  <a class="logo" routerLink="/" (click)="closeMenu()">
    <img src="/logo.png" alt="logo" height="40" />
    <span class="site-name">Wheely</span>
  </a>

  <button
    class="burger"
    type="button"
    (click)="toggleMenu()"
    aria-label="Menu"
    [attr.aria-expanded]="menuOpen()"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="links" [class.open]="menuOpen()">
    <a routerLink="/" (click)="closeMenu()">Home</a>
    <a routerLink="/annonce" (click)="closeMenu()">Annonce</a>
    @if (isLoggedIn()) {
      <a routerLink="/account" (click)="closeMenu()">Mon compte</a>
    } @else {
      <a routerLink="/login">Connexion</a>
    }
  </div>
</nav>
